body {

  background-color: #ff63b1;


  word-wrap: break-word;
  font-family: "Racing Sans One", cursive;
  color: #8035a9;
}

img {
  margin-top: 150px;
  margin-left: 150px;
}
.WalletInfo {
  margin-top: 100px;
  width: 500px;
}

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.landing-footer {
  margin-top: 400px;
}

.Block {
  border: 1px solid #8035a9;
  color: #8035a9;
  text-shadow: 2px 2px white;
  align-items: center;
  width: 400px;
  margin-bottom: 20px;
}

img.card {
  margin: 75px;
  padding: 0;
  width: 200px;

}
.App {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.Login {
  margin-top: 100px;
}

h1 {
  padding: 0;
  margin: 0;
}

.form {
  margin-top: 200px;
}

div.register {
  margin-top: 100px;
}


.landing-footer {
  margin-top: 400px;
}

.fix-footer {
  margin-top: 650px;
}

.ConductTransaction {
  margin-top: 100px;
}

.TransactionPool {
  margin-top: 100px;
}

footer.bg-dark text-white mt-5 p-4 text-center {
  display: none;
}

.btn-info {
  background-color: #8035a9;
  border-color: #8035a9;
}

.btn-light {
  background-color: #55aced;
  border-color: #55aced;
}

.btn-danger {
  background-color: #c466cb;
  border-color: #c466cb;
}
