body {
  background-color: #feeb72;
  word-wrap: break-word;
  font-family: "Racing Sans One", cursive;
}

$theme-colors: (
  "primary": #0074d9,
  "danger": #ff4136
);

.WalletInfo {
  width: 500px;
}

.Block {
  border: 1px solid black;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer.bg-dark text-white mt-5 p-4 text-center {
  display: none;
}

.btn-info {
  background-color: #8035a9;
  border-color: #8035a9;
}

.btn-light {
  background-color: #55aced;
  border-color: #55aced;
}
